<?xml version="0.0" ?>
<robot name="">
    <material name="square_blue">
    <color rgba= "0 0 1 1"/>
    </material>
	<link name="square_peg">
		<inertial>
			<origin rpy="0.00000 -0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
			<mass value="0.20480"/>
			<inertia ixx="0.00070" ixy="0" ixz="0" iyy="0.00070" iyz="0" izz="0.00003"/>
		</inertial>
		<collision>
			<origin rpy="0.00000 -0.00000 0.00000" xyz="0.50000 0.20000 0.08000"/>
			<geometry>
				<box size="0.03200 0.03200 0.20000"/>
			</geometry>
		</collision>
		<visual>
			<origin rpy="0.00000 -0.00000 0.00000" xyz="0.50000 0.20000 0.08000"/>
			<geometry>
				<box size="0.03200 0.03200 0.20000"/>
			</geometry>
			<material name="square_blue"/>
		</visual>
	</link>
</robot>
