name: Development Build & Test

on:
  release:
    types: [ published ]
  pull_request:
  push:

jobs:

  "Check_Format":
    name: "Check Format"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install uv and set up Python
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.9.6"
          enable-cache: true
          python-version: '3.11'
      - name: Install project dependencies
        run: |
          uv pip install -r requirements.txt
      # - name: Checking formatting with black
      #   run: uv run black --check --diff spflow tests
      #   continue-on-error: true

  # We do not want to waste too many resources on testing all combinations. Thus we test:
  # - on the oldest and the two most recent version of Python that we support (see README.md)
  # - with the oldest version of the backend we support plus the two most recent major ones
  #   (to catch if only the newest version breaks something)
  # - A single test on Windows and macOS to catch if something breaks there
  # - We only test on the most recent version of macOS and Windows to save resources
  # - We test even fewer combinations for TensorFlow and Jax to save resources

  "Test_OS":
    name: "Test: Py ${{ matrix.version-python }} @ OS ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        version-python: ['3.12']
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
    steps:
      - uses: actions/checkout@v5
      - uses: "./.github/actions/run_tests"
        with:
          version-python: ${{ matrix.version-python }}

  "Test_Python":
    name: "Test: Python ${{ matrix.version-python }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false 
      matrix:
        version-python: ['3.10', '3.11', '3.12']
    steps:
      - uses: actions/checkout@v5
      - uses: "./.github/actions/run_tests"
        with:
          version-python: ${{ matrix.version-python }}

